.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--white100);
  color: var(--gray130);
}

.notFoundtitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.notFoundmessage {
  font-size: 20px;
  margin-bottom: 30px;
}

.notFoundlink {
  padding: 10px 20px;
  background-color: var(--blue100);
  color: var(--white100);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.notFoundlink:hover {
  background-color: var(--blue100);
}
